lazbuild-dsl-app/src/main/LazarusPackageOrProjectInformation.dtd

<!-- Created with Liquid Studio 2021 (https://www.liquid-technologies.com) -->
<!ELEMENT CONFIG ((ProjectOptions,CompilerOptions,Debugging)|(Package))>
<!ELEMENT ProjectOptions (Version,PathDelim,General,LazDoc,i18n,VersionInfo,BuildModes,PublishOptions,RunParams,Units) >
<!ELEMENT Version EMPTY>
<!ATTLIST Version Value CDATA #REQUIRED>
<!ELEMENT PathDelim EMPTY>
<!ATTLIST PathDelim Value CDATA #REQUIRED>
<!ELEMENT General (Flags,SessionStorage,MainUnit?,AutoCreateForms?,Title,Scaled?,UseAppBundle?,NSPrincipalClass?,ResourceType,UseXPManifest?,XPManifest?,Resources?) >
<!ELEMENT Flags (SaveClosedFiles?,SaveOnlyProjectUnits?,MainUnitIsPascalSource?,MainUnitHasUsesSectionForAllUnits?,MainUnitHasCreateFormStatements?,
    MainUnitHasTitleStatement?,MainUnitHasScaledStatement?,Runnable?,AlwaysBuild?,UseDesignTimePackages?,LRSInOutputDirectory?,UseDefaultCompilerOptions?,
    SaveJumpHistory?,SaveFoldState?,CompatibilityMode?)>
<!ELEMENT SaveClosedFiles EMPTY>
<!ATTLIST SaveClosedFiles
    Value (False|True) "False">
<!ELEMENT SaveOnlyProjectUnits EMPTY>
<!ATTLIST SaveOnlyProjectUnits
    Value (False|True) "False">
<!ELEMENT MainUnitIsPascalSource EMPTY>
<!ATTLIST MainUnitIsPascalSource
    Value (False|True) "False">
<!ELEMENT MainUnitHasUsesSectionForAllUnits EMPTY>
<!ATTLIST MainUnitHasUsesSectionForAllUnits
    Value (False|True) "False">
<!ELEMENT MainUnitHasCreateFormStatements EMPTY>
<!ATTLIST MainUnitHasCreateFormStatements
    Value (False|True) "False"> 
<!ELEMENT MainUnitHasTitleStatement EMPTY>
<!ATTLIST MainUnitHasTitleStatement
    Value (False|True) "False">
<!ELEMENT MainUnitHasScaledStatement EMPTY>
<!ATTLIST MainUnitHasScaledStatement
    Value (False|True) "False">
<!ELEMENT Runnable EMPTY>
<!ATTLIST Runnable
    Value (False|True) "False">
<!ELEMENT AlwaysBuild EMPTY>
<!ATTLIST AlwaysBuild
    Value (False|True) "False">
<!ELEMENT UseDesignTimePackages EMPTY>
<!ATTLIST UseDesignTimePackages
    Value (False|True) "False">
<!ELEMENT LRSInOutputDirectory EMPTY>
<!ATTLIST LRSInOutputDirectory
    Value (False|True) "False">
<!ELEMENT UseDefaultCompilerOptions EMPTY>
<!ATTLIST UseDefaultCompilerOptions
    Value (False|True) "False">
<!ELEMENT SaveJumpHistory EMPTY>    
<!ATTLIST SaveJumpHistory
    Value (False|True) "False">
<!ELEMENT SaveFoldState EMPTY>  
<!ATTLIST SaveFoldState
    Value (False|True) "False">
<!ELEMENT CompatibilityMode EMPTY>  
<!ATTLIST CompatibilityMode
    Value (False|True) "False"> 
<!-- END FLAGS -->
<!ELEMENT SessionStorage EMPTY>    
<!ATTLIST SessionStorage 
    Value (None|InIDEConfig|InProjectDir|InProjectInfo)  "None" >
<!ELEMENT MainUnit EMPTY>     
<!ATTLIST MainUnit 
    Value CDATA #REQUIRED >
<!ELEMENT AutoCreateForms EMPTY>   
<!ATTLIST AutoCreateForms
    Value (False|True)  "False">  
<!ELEMENT Title EMPTY>        
<!ATTLIST Title
    Value NMTOKEN #REQUIRED>
<!ELEMENT Scaled EMPTY>  
<!ATTLIST Scaled
    Value (False|True)  "False"> 
<!ELEMENT UseAppBundle EMPTY>   
<!ATTLIST UseAppBundle 
    Value (False|True)  "False"> 
<!ELEMENT NSPrincipalClass EMPTY>   
<!ATTLIST NSPrincipalClass
     Value CDATA #REQUIRED>
 <!ELEMENT ResourceType EMPTY> 
<!ATTLIST ResourceType
    Value (LRS|res)  "res"> 
<!ELEMENT UseXPManifest EMPTY >
<!ATTLIST UseXPManifest
     Value (False|True)  "False">   
<!ELEMENT XPManifest (DpiAware?, ExecutionLevel?,UIAccess?,LongPathAware?,AnsiUTF8?,TextName?,TextDesc?) >
<!ELEMENT DpiAware EMPTY >
<!ATTLIST DpiAware
     Value CDATA #REQUIRED>   
<!ELEMENT UIAccess EMPTY >
<!ATTLIST UIAccess
     Value (False|True)  "False">   
<!ELEMENT ExecutionLevel EMPTY >
<!ATTLIST ExecutionLevel
     Value (requireAdministrator|highestAvailable)  "requireAdministrator">   
<!ELEMENT LongPathAware EMPTY >
<!ATTLIST LongPathAware
     Value (False|True)  "False">
<!ELEMENT AnsiUTF8 EMPTY >
<!ATTLIST AnsiUTF8
     Value (False|True)  "False">
<!ELEMENT TextName EMPTY >
<!ATTLIST TextName
     Value CDATA #REQUIRED>  
<!ELEMENT TextDesc EMPTY >
<!ATTLIST TextDesc
     Value CDATA #REQUIRED> 
<!-- END XPManifest -->
<!ELEMENT Resources ANY>
<!ATTLIST Resources 
    Count CDATA #REQUIRED>
<!--  END GENERAL --> 
<!ELEMENT LazDoc EMPTY >
<!ATTLIST LazDoc
    Paths CDATA  #IMPLIED 
    PackageName CDATA  #IMPLIED>  
<!--  END LAZ DOC -->
<!ELEMENT i18n (EnableI18N?,OutDir?,ExcludedIdentifiers?,ExcludedOriginals?) >   
<!ELEMENT EnableI18N EMPTY >
<!ATTLIST EnableI18N
     Value (False|True)  "False">
<!ELEMENT OutDir EMPTY >
<!ATTLIST OutDir
     Value CDATA #REQUIRED>
<!ELEMENT ExcludedIdentifiers ANY>
<!ATTLIST ExcludedIdentifiers 
    Count CDATA #REQUIRED>
<!ELEMENT ExcludedOriginals ANY>
<!ATTLIST ExcludedOriginals 
    Count CDATA #REQUIRED>
<!-- END i18n -->
<!ELEMENT VersionInfo (UseVersionInfo?,AutoIncrementBuild?,MajorVersionNr?,MinorVersionNr?,RevisionNr?,BuildNr?,Attributes?,StringTable?) >
<!ELEMENT UseVersionInfo EMPTY >
<!ATTLIST UseVersionInfo
     Value (False|True)  "False">
<!ELEMENT AutoIncrementBuild EMPTY >
<!ATTLIST AutoIncrementBuild
     Value (False|True)  "False">
<!ELEMENT MajorVersionNr EMPTY >
<!ATTLIST MajorVersionNr
     Value CDATA #REQUIRED>  
<!ELEMENT MinorVersionNr EMPTY >
<!ATTLIST MinorVersionNr
     Value CDATA #REQUIRED>  
<!ELEMENT RevisionNr EMPTY >
<!ATTLIST RevisionNr
     Value CDATA #REQUIRED>  
<!ELEMENT BuildNr EMPTY >
<!ATTLIST BuildNr
     Value CDATA #REQUIRED>  
 <!ELEMENT Attributes EMPTY >   
 <!ATTLIST Attributes
     pvaDebug (False|True)  #IMPLIED
     pvaPreRelease (False|True)  #IMPLIED
     pvaPatched (False|True)  #IMPLIED
     pvaPrivateBuild (False|True)  #IMPLIED
     pvaSpecialBuild (False|True)  #IMPLIED>
 <!ELEMENT StringTable EMPTY >         
 <!ATTLIST Attributes
     Comments CDATA  #IMPLIED
     CompanyName CDATA  #IMPLIED
     FileDescription CDATA  #IMPLIED
     InternalName CDATA  #IMPLIED
     LegalCopyright CDATA  #IMPLIED
     LegalTrademarks CDATA  #IMPLIED
     OriginalFilename CDATA  #IMPLIED
     ProductName CDATA  #IMPLIED
     ProductVersion CDATA  #IMPLIED
     PrivateBuild CDATA  #IMPLIED
     SpecialBuild CDATA  #IMPLIED>
<!-- END VERSION_INFO -->
<!ELEMENT BuildModes ANY>
<!ATTLIST BuildModes 
    Count CDATA #REQUIRED>  
<!-- !!START COMPILER_OPTIONS AS PART BUILD_MODE ITEM!! -->  
<!ELEMENT CompilerOptions (Version,PathDelim,Target,SearchPaths,Parsing,CodeGeneration,Linking,Other)>
<!ELEMENT Target (Filename) >
<!ELEMENT Filename EMPTY >
<!ATTLIST Filename 
    Value CDATA #REQUIRED> 
<!ELEMENT SearchPaths (IncludeFiles,Libraries?,OtherUnitFiles?,UnitOutputDirectory) >
<!ELEMENT IncludeFiles EMPTY>
<!ATTLIST IncludeFiles 
    Value CDATA #REQUIRED> 
<!ELEMENT Libraries EMPTY>
<!ATTLIST Libraries 
    Value CDATA #REQUIRED> 
<!ELEMENT OtherUnitFiles EMPTY>
<!ATTLIST OtherUnitFiles 
    Value CDATA #REQUIRED> 
<!ELEMENT UnitOutputDirectory EMPTY>
<!ATTLIST UnitOutputDirectory 
    Value CDATA #REQUIRED> 
<!--  END SEARCH PATHS -->
<!ELEMENT Parsing (Style?,SyntaxOptions)>
<!ELEMENT Style EMPTY >
<!ATTLIST Style
    Value (1|2)  "1" >
<!ELEMENT SyntaxOptions (SyntaxMode?,CStyleOperator?,IncludeAssertionCode?,AllowLabel?,CStyleMacros?,InitConstructor?,UseAnsiStrings?)>
<!ELEMENT SyntaxMode EMPTY >
<!ATTLIST SyntaxMode
    Value (ObjFPC|gps|Delphi|DelphiUnicode|tp|fpc|MacPas|iso|ExtPas)  "ObjFPC" >
<!ELEMENT CStyleOperator EMPTY >
<!ATTLIST CStyleOperator
     Value (False|True)  "False">
<!ELEMENT IncludeAssertionCode EMPTY >
<!ATTLIST IncludeAssertionCode
     Value (False|True)  "False">
<!ELEMENT AllowLabel EMPTY >
<!ATTLIST AllowLabel
     Value (False|True)  "False">
<!ELEMENT CStyleMacros EMPTY >
<!ATTLIST CStyleMacros
     Value (False|True)  "False">
<!ELEMENT InitConstructor EMPTY >
<!ATTLIST InitConstructor
     Value (False|True)  "False">
<!ELEMENT UseAnsiStrings EMPTY >
<!ATTLIST UseAnsiStrings
     Value (False|True)  "False">  
<!-- END PARSING -->  
<!ELEMENT CodeGeneration (SmartLinkUnit?,RelocatableUnit?,Checks?,HeapSize?,StackSize?,VerifyObjMethodCallValidity?,Optimizations,SmallerCode?)>
<!ELEMENT SmartLinkUnit EMPTY >
<!ATTLIST SmartLinkUnit
     Value (False|True)  "False">
<!ELEMENT RelocatableUnit EMPTY >
<!ATTLIST RelocatableUnit
     Value (False|True)  "False"> 
<!ELEMENT Checks (IOChecks?,RangeChecks?,OverflowChecks?,StackChecks?) >
<!ELEMENT IOChecks EMPTY >
<!ATTLIST IOChecks
     Value (False|True)  "False">
<!ELEMENT RangeChecks EMPTY >
<!ATTLIST RangeChecks
     Value (False|True)  "False">  
<!ELEMENT OverflowChecks EMPTY >
<!ATTLIST OverflowChecks
     Value (False|True)  "False">
<!ELEMENT StackChecks EMPTY >
<!ATTLIST StackChecks
     Value (False|True)  "False">  
 <!-- END CHECKS -->    
<!ELEMENT HeapSize EMPTY >
<!ATTLIST HeapSize
     Value CDATA #REQUIRED>
<!ELEMENT StackSize EMPTY >
<!ATTLIST StackSize
     Value CDATA #REQUIRED>
<!ELEMENT VerifyObjMethodCallValidity EMPTY >
<!ATTLIST VerifyObjMethodCallValidity
     Value (False|True)  "False">
<!ELEMENT Optimizations (OptimizationLevel) >
<!ELEMENT OptimizationLevel EMPTY >
<!ATTLIST OptimizationLevel
    Value (0|1|2|3|4)  "1" >
<!ELEMENT SmallerCode EMPTY >
<!ATTLIST SmallerCode
     Value (False|True)  "False">     
<!-- END CODE_GENERATION -->
<!ELEMENT Linking (Debugging,LinkSmart?,Options?)>
<!-- START DEBUGGING AS PART OF LINKING-->
<!ELEMENT Debugging (GenerateDebugInfo?,DebugInfoType?,UseHeaptrc?,TrashVariables?,UseValgrind?,GenGProfCode?,StripSymbols?,UseExternalDbgSyms?)>
<!ELEMENT GenerateDebugInfo EMPTY >
<!ATTLIST GenerateDebugInfo
     Value (False|True)  "False">
<!ELEMENT DebugInfoType EMPTY >
<!ATTLIST DebugInfoType
     Value (dsAuto|dsStabs|dsDwarf2Set|dsDwarf3)  "dsDwarf3">
<!ELEMENT UseHeaptrc EMPTY >
<!ATTLIST UseHeaptrc
     Value (False|True)  "False">
<!ELEMENT TrashVariables EMPTY >
<!ATTLIST TrashVariables
     Value (False|True)  "False">
<!ELEMENT UseValgrind EMPTY >
<!ATTLIST UseValgrind
     Value (False|True)  "False">
<!ELEMENT GenGProfCode EMPTY >
<!ATTLIST GenGProfCode
     Value (False|True)  "False">
<!ELEMENT StripSymbols EMPTY >
<!ATTLIST StripSymbols
     Value (False|True)  "False">
<!ELEMENT UseExternalDbgSyms EMPTY >
<!ATTLIST UseExternalDbgSyms
     Value (False|True)  "False">
<!-- END DEBUGGING AS PART OF LINKING-->
<!ELEMENT Options (PassLinkerOptions?,LinkerOptions?,Win32?) >
<!ELEMENT PassLinkerOptions EMPTY >
<!ATTLIST PassLinkerOptions
     Value (False|True)  "False">
<!ELEMENT LinkerOptions EMPTY >
<!ATTLIST LinkerOptions
     Value CDATA #REQUIRED>     
<!ELEMENT Win32 (GraphicApplication) >
<!ELEMENT GraphicApplication EMPTY >
<!ATTLIST GraphicApplication
     Value (False|True)  "False">
<!-- END OPTIONS -->
<!ELEMENT LinkSmart EMPTY >
<!ATTLIST LinkSmart
     Value (False|True)  "False">
<!-- END LINKING -->
<!-- END COMPILER_OPTIONS -->
<!ELEMENT PublishOptions (Version,UseFileFilters?) >
<!ELEMENT UseFileFilters EMPTY >
<!ATTLIST UseFileFilters
     Value (False|True)  "False">
<!-- END PUBLISH_OPTIONS -->
<!ELEMENT RunParams (FormatVersion)>
<!ELEMENT FormatVersion EMPTY >
<!ATTLIST FormatVersion
     Value CDATA #REQUIRED>     
<!-- END RUN_PARAMS -->
<!ELEMENT Units ANY >
<!ATTLIST Units 
    Count CDATA #REQUIRED>
<!-- !!!!END PROJECT_OPTIONS!!!! -->
<!ELEMENT Package (Version,PathDelim) >
